@model SistemaCompras.Models.Empleado

<h1>Details</h1>

<dl class="row">
    <dt>Cédula</dt>
    <dd>@Model.Cedula</dd>

    <dt>Nombre</dt>
    <dd>@Model.Nombre</dd>

    <dt>Departamento</dt>
    <dd>@Model.Departamento?.Nombre</dd>

    <dt>Estado</dt>
    <dd>@(Model.Estado ? "Activo" : "Inactivo")</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
<a asp-action="Index">Back to List</a>