@model SistemaCompras.Models.Marca

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Marca</h4>
    <hr />
    <dl class="row">
        <dt>Descripción</dt>
        <dd>@Model.Descripcion</dd>

        <dt>Estado</dt>
        <dd>@(Model.Estado ? "Activo" : "Inactivo")</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>