@model SistemaCompras.Models.UnidadMedida

<h1>Details</h1>

<dl class="row">
    <dt>Descripción</dt>
    <dd>@Model.Descripcion</dd>

    <dt>Estado</dt>
    <dd>@(Model.Estado ? "Activo" : "Inactivo")</dd>
</dl>

<a asp-action="Index">Back to List</a>